<div class="row">
  <div class="col-md-2">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-category" style="text-align: left;">Annual Policy</p>
              <p class="card-title" style="font-size:18px; text-align: left;">$68557M
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In last month
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-category" style="text-align: left;">Claim Payout</p>
              <p class="card-title" style="font-size:18px; text-align: left;">$26187.5M
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In last month
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Claims payout by category</h5>
        <p class="card-category">Last Month Performance</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Cancer treatment
          <i class="fa fa-circle text-warning"></i> Cardio treatment
          <i class="fa fa-circle text-danger"></i> Orthopedic treatment
          <i class="fa fa-circle text-gray"></i> Neuro treatment
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Average Cost per Claim</h5>
        <p class="card-category">Last Year Perforamce</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-primary"></i> Cancer
          <i class="fa fa-circle text-warning"></i> Cardio
          <i class="fa fa-circle text-danger"></i> Ortho
          <i class="fa fa-circle text-gray"></i> Neuro
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Review Claims</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
 
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th *ngFor="let header of tableData.headers">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData.data">
                <td>{{row.id}}</td>
                <td>{{row.hospital}}</td>
                <td>{{row.patientName}}</td>
                <td>{{row.claimSummary}}</td>
                <td>{{row.claimDescription}}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="openmodal(row.id, row.claimSummary, row.patientName)">
                    Preview
                  </button>
                </td>               
              </tr>
            </tbody>
          </table>




        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #popup let-c="close()" let-d="dismiss()">
  <style>

  </style>
  <div class="modal-header justify-content-center border-0" style="background-color: lightgrey;">
    <button type="button" class="close" (click)='c; d;'>x</button>
  </div>
  <div class="modal-body">
    <b>{{approverejectstat}}</b>

    <div *ngIf="approverejectstat==Approved" class="alert alert-success alert-dismissible fade show">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
      <span>
        <b> Success - </b> This is a regular notification made with ".alert-success"</span>
    </div>

    <div *ngIf="approverejectstat==Rejected" class="alert alert-danger alert-dismissible fade show">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
      <span>
        <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
    </div>

    <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
            <b>Patient Name:</b> {{patientname}} 
            <br>
            <b>Claim Summary:</b> {{claimsummary}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <style>
          .svg{width:10%;}
        </style>

        <script>
          var count = $(('#count'));
            $({ Counter: 0 }).animate({ Counter: count.text() }, {
              duration: 5000,
              easing: 'linear',
              step: function () {
                count.text(Math.ceil(this.Counter)+ "%");
              }
            });

            var s = Snap('#animated');
            var progress = s.select('#progress');

            progress.attr({strokeDasharray: '0, 251.2'});
            Snap.animate(0,251.2, function( value ) {
                progress.attr({ 'stroke-dasharray':value+',251.2'});
            }, 5000);
        </script>
        
        <svg viewbox="0 0 100 100">
          <circle cx="50" cy="50" r="45" fill="#FDB900"/>
          <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
                stroke-dasharray="125.6,125.6"
                d="M50 10
                    a 40 40 0 0 1 0 80
                    a 40 40 0 0 1 0 -80"/>
          <text x="50" y="50" text-anchor="middle" dy="7" font-size="20">60%</text>
        </svg>
      </div>
    </div>


    <table class="table">
      <thead class=" text-primary">
        <tr>
          <th *ngFor="let header of tableDatapopup.headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableDatapopup.data">
          <td>{{row.bill_id}}</td>
          <td>{{row.bill_date}}</td>
          <td>{{row.bill_description}}</td>
          <td>{{row.bill_amount}}</td>              
        </tr>
        <tr>
          <td></td>
          <td>Total: {{totalsum}}</td>
          <td><button type="button" class="btn btn-primary" (click)="approvereject('A')">
            Approve
          </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="approvereject('R')">
              Reject
            </button>
          </td>    
        </tr>
      </tbody>
    </table>

  </div>
</ng-template>
